.mheading{
	padding-top: 3px;
}

.mhomekey{
	margin-left: 150px;
}

.mlogoimage{
	height: 60px;
    width: 235px;
}

.msubheading{
	padding-left: 30px;
	padding-right: 30px;
}

.mnav{
	padding-right: 250px;
}