<html>
    <body>
        <h4 class="text-center madmintext">REPORT ON EXISTING CYCLES</h4>
        <hr>           
            <div class="container">
                <div class="row">
                  <div class="col">                   
                  </div>
                  <div class="col-6">
                    
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Type Name</th>
                            <th scope="col">Cycle Name</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Atlas</td>
                            <td>Kids</td>
                            <td>cyclename1</td>
                            <td>36500</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Avon</td>
                            <td>Kids</td>
                            <td>cyclename2</td>
                            <td>16542</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Hercules</td>
                            <td>Mens</td>
                            <td>cyclename3</td>
                            <td>25599</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Atlas</td>
                            <td>Womens</td>
                            <td>cyclename4</td>
                            <td>22599</td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Avon</td>
                            <td>Mens</td>
                            <td>cyclename5</td>
                            <td>28599</td>
                          </tr>
                        </tbody>
                    </table>                    

                  </div>
                  <div class="col">
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col"></div>
                  <div class="col-5">
                    
                  <div class="col">
                    <div class="text-right">
                      <button type="button" class="btn btn-outline-secondary btn-sm">Send</button>
                      <button type="button" class="btn btn-outline-secondary btn-sm">Print</button>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
    </body>
</html>

