<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
	  <div class="row">
	    <div class="col-xl"></div>

	    <div class="col-xl">
	    	<h4 class="text-center madmintext">SOLD CYCLES</h4>
			<hr>			

	      	<form #soldForm="ngForm" (ngSubmit)="getSoldValues(soldForm.value)">
				<div class="container">
				  <div class="row">
				    <div class="col-xl text-center">Select Brand: 				    
				  	<select name="Brand" ngModel>
					    <option value="avon">Avon</option>
					    <option value="atlas">Atlas</option>
					    <option value="hercules">Hercules</option>
					    <option value="montra">Montra</option>
				  	</select> 
				  	</div>
				 
				    <div class="col-xl text-center">Select Type: 
				    	<select name="Type" ngModel>						
						    <option value="mans">Mens</option>
						    <option value="womens">Womens</option>
						    <option value="kids">Kids</option>
						</select>	
					</div>    
				  </div>
				</div>
			    				
				<div class="form-group row mname">
					<label for="inputEmail3" class="col-sm-4 col-form-label">Cycle Name: </label>
					<div class="col-sm-8">
						<input class="form-control form-control-sm" type="text" name="CycleName" ngModel>
					</div>
				</div>

				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-4 col-form-label">Price: </label>
					<div class="col-sm-8">
						<input class="form-control form-control-sm" type="text" name="Price" ngModel>
					</div>
				</div>

			  	<div class="form-group row">
					<label for="inputEmail3" class="col-sm-4 col-form-label">Select Date: </label>
					<div class="col-sm-8">
						<input class="form-control form-control-sm" type="date" id="example-date-input" name="Date" ngModel>
					</div>
				</div>

			  <div class="text-center">
			  	<button type="submit" class="btn btn-primary">Submit</button>
			  </div>

			  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Success ! </strong> Data Submitted Successfully.
				<button (click)="CloseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>

			  
			</form>
	    </div>

	    <div class="col-xl"></div>
	  </div>
	</div>
	
</body>
</html>
