<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<hr>

  <div class="container">

  <div class="row">
    <div class="col-sm"></div>

    <div class="col-sm">
      <div class="col-xl">
      <form>
        <div class="container">
          <div class="row">

            <div class="col-xl text-center">Select Brand: 
              <select name="cars" id="cars">
                <option value="avon">Avon</option>
                <option value="atlas">Atlas</option>
                <option value="hercules">Hercules</option>
                <option value="montra">Montra</option>
              </select> 
            </div>
         
            <div class="col-xl text-center">Select Type: 
              <select name="cars" id="cars">
                <option value="mans">Mens</option>
                <option value="womens">Womens</option>
                <option value="kids">Kids</option>
              </select> 
            </div>  

            <div class="col-xl text-center msearch"> 
              <button type="button" class="btn btn-outline-info btn-sm">Search</button>
            </div>  
          </div>
        </div>
      </form>
      </div>
    </div>

    <div class="col-sm"></div>
  </div>

  </div>

  <hr>
  
  <div class="container">
		<div class="card-deck">

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle1.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">20,599</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle2.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">19,499</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle3.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">20,399</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle4.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">21,199</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle5.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">18,399</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle6.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">20,599</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle7.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">19,599</p>
  		</div>

  		<div class="img-thumbnail mcycleimage">
    		<img src="/assets/images/AllCycles/cycle8.jpg" class="card-img-top" alt="...">
    		<h5>ELEMENT 29T SPEED DOUBLE DISC BRAKE</h5>
			<p class="text-center">18,899</p>
  		</div>


  		
		</div>
	</div>


	
</body>
</html>
